<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link th:href="@{/css/add.css}" rel="stylesheet">
    <script th:src="@{/js/jquery-1.12.4.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/js/updateemp.js}" type="text/javascript" charset="utf-8"></script>
    <title>商品信息</title>
</head>
<body onload="queryDept()">
<form id="form2">
    <input type="text" th:value="${eid}" name="empno" hidden="hidden">
    <table cellpadding="3px" border="1" width="600px">
        <tr><td colspan="2" height="50px" style="font-size: 30px;font-weight: 700;background-color: rgb(137,208,254) ">增加员工</td></tr>
        <tr>
            <td width="200px">员工姓名（*）：</td>
            <td style="text-align: left"><input type="text" name="empname" value=""></td>
        </tr>
        <tr>
            <td width="200px">员工出生日期（*）：</td>
            <td style="text-align: left"><input type="date" name="empbirthday" value=""></td>
        </tr>
        <tr >
            <td width="200px">员工性别（*）：</td>
            <td style="text-align: left"><input type="radio" name="empsex" value="1">男&nbsp;<input type="radio" name="empsex" value="2">女</td>
        </tr>
        <tr >
            <td width="200px">所属部门（*）：</td>
            <td style="text-align: left"><select id="deptList" name="deptid">

            </select></td>
        </tr>
        <tr>
            <td colspan="2" ><input type="button" value="提交"  onclick="checkemp()"/>
                <input type="button" value="返回"  onclick="show()"/>&nbsp;</td>
        </tr>
    </table>
</form>
</body>
</html>